.roomCode {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--background);
    color: var(--text);
    border: 1px solid var(--primary);
    cursor: pointer;
    display: flex;
    transition: border .3s ease;

    div {
        height: 100%;
        background: var(--primary);
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .3s ease;

        &:active {
            background: var(--secondary);

            img {
                width: 80%;
            }
        }
    }

    &:active {
        border: 1px solid var(--secondary);
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: fit-content;
        font-size: 14px;
        font-weight: 500;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

}